name: Rust

on:
  push:
    branches: ['**']
    tags-ignore: ['**']
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --verbose
      - run: cargo fmt --check
      - run: cargo clippy --all-targets --all-features -- -D warnings